<nav class="topbar">
  <div class="topbar-inner">
    <div class="brandBlock">
      <div class="brand">Resources Management</div>

      <div class="menuTabs">
        <!-- ✅ admin vede catalogue -->
        <a *ngIf="auth.isAdmin()" class="menuTab" routerLink="/catalogue" routerLinkActive="active">
          Catalogue
        </a>

        <!-- ✅ tutti vedono bookings -->
        <a class="menuTab" routerLink="/bookings" routerLinkActive="active">
          Bookings
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid py-3">
  <router-outlet></router-outlet>
</div>
